@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward_ios"); 
* { margin: 0; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
background:rgb(0, 0, 0);
} 

.container{
  margin-top:100px;
  height:auto;
  background: #000000f7;
  padding: 5px;;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 6px 20px rgb(15, 78, 250);
  text-align: center;
  }
.box ul li{
position: absolute;
width: 50px;
height: 50px;
list-style:none;
opacity: 10;
background: radial-gradient(rgb(12, 144, 237), transparent, transparent); 
animation: animate 6.5s linear infinite;
right: 30px;
}
.box ul li:nth-child(2){
   left: 25vw;
    animation-delay:1s;
} 
.box ul li:nth-child(3){
   left: 32vw;
    animation-delay:2s; } 
   .animation ul li:nth-child(4){
   left: 27vw;
    animation-delay:1s;
}
.animation ul li:nth-child(5){
   left: 30vw;
    animation-delay:1ms;
} 
.animation ul li:nth-child(6){
   left: 31vw;
    animation-delay:1s;
} 
.animation ul li:nth-child(7){
   left: 26vw;
    animation-delay:1s;
}
.box ul li:nth-child(8){
   left: 26vw;
    animation-delay:1ms;
} 
.box ul li:nth-child(9){
   left: 29vw;
    animation-delay: 2ms;;
} 
@keyframes animate { 
   0% { 
      transform: scale(0);
      opacity: 0.1;
      bottom: 0;
       }
100% { 
   transform: scale(10);
   opacity: 1;
   bottom: 100vh;
}}

.homepage{
background:#000000;
overflow: hidden;
border-radius: 5%; 
box-shadow: 5px 4px 0px rgb(5, 60, 99);
font-size: 50px;
margin: 50px;
float: left;
padding:0px;
color: #ffffff;
}
.homepage a { 
color: #ffffff;
text-decoration: none;
}
.homepage a:hover {
   background-color:rgb(43, 166, 224);
   color: #000000; }
.homepage:hover a:active {
   background-color: rgba(8, 6, 6, 0.349);
   color: white; 
    box-shadow: 10 4px 10px rgb(7, 101, 120);
} 

.carousel { 
color: #e5dede;
height: 100%;
}
.carousel__section{
   height: 100%;
background-color: #02020200;
color: #e5dede;
padding: 25px;
display: none;

}
.carousel__section--selected{ 
display: block;

}
.carousel__section h1{ 
color: #e5dede;
font-weight: bold;
font-size: 40px;
}

.carousel__section p { 
color: #e5dede; 
font-size: 25px;
justify-content: left;
}
.carousel__nav { 
width: 100%;
padding: 20px 0;
position: relative;
bottom: 0;
left: 0;
background:#0b82b1;
text-align: center;
color: #e5dede;
}

.carousel__button{ 
width: 25px;
height: 20px;
display: inline-block;
background: #555;
border-radius: 50%;
margin: 0 5px;
cursor: pointer;
}

.carousel__button--selected{
background: #e5dede;
}

img{ 
width: 100%;
max-width: 400px;
object-fit: cover;
vertical-align: buttom;
}
@media screen and (min-width:400px) {
.container {
   position:relative; 
   height: 50%; 
}
   .carousel {
      width:auto;
height:fit-content;
position: relative; 
    }
.carousel__section{
       width:auto;
height:fit-content;
position: relative;
    }
    .carousel__section h1{ 
color: #e5dede;
font-weight: bold;
font-size: 45px;} 


}


 














