@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward_ios"); 
* { margin: 0; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
background:rgb(0, 0, 0);
} 

.container{
  margin-top:100px;
  height:auto;
  background: #000000f7;
  padding: 5px;;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 6px 20px rgb(27, 59, 147);
  text-align: center;
  position: relative;
  }
  .backgroundAnim1{ 
      position: absolute;
      top: 75%;
      left: 0;
      width: 50%;
      height: 2px; 
       border-radius: 100%;
      background: #027179b6;
      filter: blur(2px);
      animation: backgroundAnim 7s ease-in-out infinite alternate-reverse ;
     }

.backgroundAnim2 { 
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 5px;
 border-radius: 10%;
background: #0b1f7b80;
filter: blur(1px);
animation: backgroundAnim 5s ease-in-out infinite reverse ;
}

@keyframes backgroundAnim {
   0% {     
      opacity: 0;
      transform: scale(1);
      buttom: 15px;
      width: 10%;
   }
   100% { 
       opacity: 1;
      transform: scale(10);
    top: 580px;
     width:50%; 

   }
   
}
.backgroundAnim3 { 
     position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      height: 1px; 
      border-radius: 10%;
     background: #1111a469;
      filter: blur(1px);
      animation: backgroundAnim 15s ease-in-out infinite alternate;

   }


    .backgroundAnim4{ 
      position: absolute;
      bottom: 1px;
      right: 50%;
      width: 50%;
      height: 1px; 
       border-radius: 100%;
     background: #00e8f855;
      filter:blur(1px);
      animation: backgroundAnim 8s ease-in-out infinite alternate;
   }

     .backgroundAnim5{ 
      position: absolute;
      bottom: 5px;
      right: 5%;
      width: 10%;
      height: 5px; 
       border-radius: 50%;
     background: #07c78772;
      filter:blur(3px);
      animation:backgroundAnim 5s ease-in-out infinite alternate;
    
   }

.homepage{
background:#000000;
overflow: hidden;
border-radius: 10%; 
box-shadow: 5px 4px 0px rgb(5, 60, 99);
font-size: 50px;
margin: 20px;
float: left;
padding:2px;
color: #ffffff;
}
.homepage a { 
color: #ffffff;
text-decoration: none;
}
.homepage a:hover {
   background-color:rgb(43, 166, 224);
   color: #000000; }
.homepage:hover a:active {
   background-color: rgb(8, 6, 6);
   color: white; 
    box-shadow: 10 4px 10px rgb(7, 101, 120);
} 

.carousel { 
 position: relative;
color: #e5dede;
height: 100%;
width: 100%;
}
.carousel__section{
   position: relative;
   height: 100%;
background-color: #02020200;
color: #e5dede;
padding: 5px;
display: none;

}
.carousel__section--selected{ 
display: block;

}
.carousel__section h1{ 
color: #e5dede;
font-weight: bold;
margin: 10px;
font-size: 40px;
}

.carousel__section p { 
color: #e5dede; 
font-size: 30px;
justify-content: left;
}
.carousel__nav { 
height: 500px;
width: 100%;
padding-top: 1px;
left: 10px;
background:#0b82b1;
text-align: center;
color: #e5dede;
}

.carousel__button{ 
width: 30px;
height: 30px;
display: inline-block;
background: #555;
border-radius: 5%;
margin: 15px;
cursor: pointer;
}

.carousel__button--selected{
background: #e5dede;
}

img{ 
width: 100%;
max-width: 400px;
object-fit: cover;
vertical-align: buttom;
}
@media screen and (min-width:400px) {
.container {
   position:relative; 
   height: 50%; 
}
   .carousel {
      width:auto;
height:fit-content;
position: relative; 
    }
.carousel__section{
       width:auto;
height:fit-content;
position: relative;
    }
    .carousel__section h1{ 
color: #e5dede;

font-size: 45px;} 
.carousel__section { 
font-size: 20px;
}


}


 














