 * { 
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
      }
 
 body{ background:rgb(0, 0, 0);
      }


@keyframes backgroundAnim {
   0% {     
      opacity: 0;
      transform: scale(1);
      bottom: 15px;
      width: 100%;
   }
   100% { 
    opacity: 1;
    transform: scale(50);
    top: 10px;
     width:5%; 

   } }
.container { 
margin: 0;
padding: 0;
}

.form-container{
  margin:55px auto;
  background: #00000000;
  width:calc(100% - 15px);
  height: calc(100% - 15px);
  padding:30px;
  border-radius: 12px;
  box-shadow: 2px 6px 20px rgb(15, 78, 250);
  display: flex;
flex-direction: column;
 }


 .login-form { 
position: absolute;
left: 50%;
width: calc(100% - 15px);
padding: 30px;
 } 
 .form-title{
font-size:50px;
font-weight:bold;
text-align: center;
padding: 5px;
margin-bottom: 20px; 
color: rgb(255, 255, 255);
}  
.register-form { 
position: absolute;
left: -50%;
width:calc(100% - 15px);
padding: 30px;
}

.register-form  .form-title{
font-size:50px;
font-weight:bold;
text-align: center;
padding: 5px;
margin-bottom: 20px; 
color: rgb(255, 255, 255);

}
.form-inputs{ 
width:calc(100% - 15px);
}
.input-box { 
position: relative;

}

.input-field{ 
width:calc(100% - 55px);
padding: 0 20px; 
color: #000000;
background: #ffffff;
margin: 5px 0;
height:50px; 
}
::placeholder {
 color: #000000;
  background-color:white;
}

.input-submit{ 
margin:20px 0;
width:calc(100% - 15px);
height: 50px;
padding: 15px;
font-size: 15px;
background: #201f1f;
color: #ffffff;
border: none;
cursor: pointer;
 border: 1px dashed #22bce3;
 border-radius: 10px;
transition: 0.3s;
box-shadow: 10px 5px 10px #079ade9d;
} 

.input-submit:hover { 
background: #dddcdcae;
 color: #0f2575 ;
} 

.forgot-link { 
text-align: center;
font-size: 15px;
margin: 15px 0 15px;
color: #ffffff;
}
.forgot-link a { 
font-size: 17px;
color: #ffffff;

}
.forgot-link a:hover {
color: #ffffff;
text-decoration: underline;
    }


.error_msg { 
background: #e5dede;
color: #033146 ;
font-size: 1.2em;
padding: 10px 25px;
border-radius: 10px;
margin-bottom: 15px; 
box-shadow: 10px 4px 10px #079ade9d;
}
ul.topnav {
  display: flex;
list-style-type: none;
height: 25%;
background-color: #000000;
cursor: pointer; 

}

ul.topnav li a{
color: #fcf9f9;
padding: 10px 20px; 
text-decoration: none;
text-align: center;
font-size: 20px;
border-radius: 10px;
transition: .3s;
}
ul.topnav li a:active {
   background-color: rgb(43, 166, 224);
   color: rgb(0, 0, 0); } 

ul.topnav li a:hover:not(.active){ 
background-color: rgb(43, 166, 224);
   color: rgb(0, 0, 0);

}
ul.topnav li:hover{ 
transform: scale(1.25);

}


   
@media screen and (min-width:650px) {
 
 .container { 
width:calc(100% - 5px); }

.form-container{ 
width:calc(50% - 105px);
}

ul.topnav { 
   width:calc(100% - 15px);
   height: auto;
position: relative;}

ul.topnav li a { 
float: left; 
padding: 15px;
}
}
