 html{ 
      font-family: 'Times New Roman', Times, serif;
      overflow:scroll;
      scroll-behavior: smooth; 
   }
   
   body{
    background-color: #b1b0b0;
     height: 2000px;
    
}
 

.container{
 margin-top: 0%;
width:relative;
margin-left: relative;
color: rgb(248, 242, 233);
text-align:center;
font-size: 10px;
border-radius: 10px; 
background-color: #d7d2d2;
}

.container2{ 
   display:flex;
margin-left: 200px;
margin-top: 30px;
max-width: 600px;
margin-top: auto;
text-align:center;
background-color: #f3f2f2;
font-size: large;
font-size: 40px;
width: fit-content;
border-radius: 30%; 

}
.container3{ 
  margin-left: 150px; 
width: 500px;
margin-top: 0%;
text-align:center;
background-color: #d7d2d2;
margin-top: auto;
font-size: large;
}

.container4{ 
margin-left: 200px;
margin-top: 0%;
width: 500px;
text-align:center;
background-color: #d7d2d2;
width: fit-content;

}
.container5{ 
margin-left: 200px;
margin-top: 0%;
width: 500px;
text-align:left ;
background-color: #d7d2d2;
width: fit-content;

}

#scrollToTopBtn{
display:flex;
position: fixed; 
bottom: 30px; 
right: 30px;
width: 50px;
height:50px;
z-index: 99;
outline: none;
border:none;
background-color:rgb(132, 129, 129);
color: rgb(252, 251, 251);
cursor: pointer; 
padding: 15px; 
border-radius: 25%; 
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
justify-content: center;
align-items: center;
font-size:16px; 
transition:opacity 0.3s ease,transform 0.3s ease; 


}

#scrollToTopBtn:hover {
background-color: #555;
transform:translateY(-5px);
}

#scrollToTopBtn.show  {
display: flex;
}

#image-style { 
    width: 100px; 
    height: auto; 
    border-radius: 15px;
    box-shadow: 0px, 4px, 8px, rgba(200, 198, 198, 0.3);
}

#exploringbtn { 
display:flex;
position: top; 
object-position: center;
bottom: 20px;
background-color:rgb(55, 1, 1);
color: rgb(12, 12, 12);
cursor: pointer; 
padding: 15px; 
border-radius: 5px; 
font-size: 20px;
margin-left: 200px;
box-shadow: 2 4px 10px rgba(0,0,0,0.1);
width: fit-content;
}
#exploringbtn a { 
   padding: 16px;
   text-decoration: none;
   color: rgb(246, 243, 243);
   display: block;
   }

#exploringbtn:hover {
background-color: #0a0a0a; } 


.sidebar { 
   margin: 0;
   padding: 0;
height:100%; 
width: 150px;
position:fixed;
z-index: 1 ;
background-color: #d7d2d2;
overflow: auto;
padding-top: 60px;
transition: 0.5s;
 color: rgb(141, 21, 21);
 border-radius: 5%; 
} 

.sidebar a { 
   padding: 16px;
   text-decoration: none;
   color: rgb(13, 13, 13);
   display: block;
   
}
.sidebar a:hover:not(.active) {
   background-color: rgb(55, 1, 1);
   color:rgb(255, 255, 255)

}

.sidebar a:hover { 
    background-color: rgb(55, 1, 1);;
   color: rgb(255, 255, 255);
}


div.content {
 padding: 1px 16px;
  margin-left: 200px;
height: 1000px;
 }




@media screen and (max-width: 700px) {
  .sidebar{ 
   width: 100%;
   height: auto;
position: relative;
  } 
  .container2{
width:auto;
height:fit-content;
position: relative;

  }
 
.sidebar a {float: left;}
div.content {margin-left: 0;}
}
@media screen and (max-width:400px) {
   .sidebar a { text-align: center;
      float:none;
 }
 .container2 {
   text-align: center;
      float:none;
margin-left: 0; 

 }
   .container3{
         text-align: center;
      float:none;
margin-left: 0; 


   }
}

.topnav {
background-color: #666565;
overflow: hidden;
border-radius: 5%; 
position: fixed;
top: 0;
width: 100%;
 color: #000000;

}
.topnav a{
   float: right;
   color: #d7d2d2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
    background-color: rgb(55, 1, 1);
}

.topnav a:hover {
   background-color: rgb(55, 1, 1);
   color: #d7d2d2;
   }

   .topnav a:active {
   background-color: rgb(55, 1, 1);
   color: white;
   }


.navbar{ 
   background-color: #070707;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
border-radius: 5%; 
}

.navbar a{
   float: right;
   display: block;
   color: #d7d2d2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navbar a:hover {
   background-color: rgb(55, 1, 1);
   color: #d7d2d2;
   }

   .topnav a:active {
   background-color: rgb(55, 1, 1);
   color: white; } 


.quiz-container {
background-color: #d7d2d2; 
border-radius: 10px;
box-shadow: 2 4px 10px rgba(0,0,0,0.1);
width: 90%;
max-width:400px; 
padding: 20px;
text-align:center;
box-sizing: border-box;
}

.question{ 
   font-size: 10px;
   margin-bottom: 20px;
   }

   .options{
      display:flex; 
      flex-direction: column;
      gap: 10px;
         }
      .option {
         padding: 10px;
         border: 2px solid rgb(55, 1, 1);
         border-radius: 8px; 
         cursor: pointer;
         transition: background-color 0.3s, color 0.3s;
         }
         .option:hover{
             background-color: rgb(55, 1, 1);
   color: #d7d2d2;

        }

        .timer {
         font-size:10px; 
         margin-bottom: 20px;
         color: rgb(55, 1, 1);
         }
         .result {
             font-size:10px; 
         margin-bottom: 20px;
         display:none;
         }

         .restart-btn {
            background-color: #d7d2d2; 
            color: #000000;
            border:none; 
            padding: 10px 20px;
            font-size: 10px;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 20px;
            display: none;
         }


         .restart-btn:hover{ 
            background-color: rgb(55, 1, 1);
            color: #d7d2d2;
         }

         .login_form {
            width: 100%;
            max-width: 400px;
            background-color:#d7d2d2; 
            border-radius: 6px;
            padding: 40px 30px;
           box-shadow: 2 4px 10px rgba(0,0,0,0.1);
         }

         .login_form h3 {
            font-size: 10px;
            text-align: center;
         }
         .login_form .login_option {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
.login_form .login_option .option{
   width: calc(100% /2-12px); 
}
.login_form .login_option .option a {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px; 
   background-color: #f3f2f2;
   border: 1px solid rgb(55, 1, 1);
   border-radius: 8px;
   margin: 30px 0 24px 0;
   color: #000000;
   font-weight: 500;
   transition: 0.2s ease;
   }

   .login_form .login_option .option a:hover{
      background: #000000;
      color: #f3f2f2;
      border-color:rgb(55, 1, 1); 
       } 

.login_form .login_option .option a img {
max-width: 25px;
}

.login_form p { 
text-align: center;
font-weight: 500;
}




