* { margin: 0; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body
{ background:rgb(0, 0, 0);
  }

.container{
  margin:10px;
  height:100%;
  background: #00000000;
  padding: 5px;;
  text-align: center;
  border-radius: 10px;
 box-shadow: 10px 4px 10px #00FFFF; 
  text-align: center;
  }


.homepagebtn{
 background: #fbf9f9;
  color: #000000;
  font-weight: 500;
  width: 100%;
 box-shadow: 10px 4px 10px #00FFFF;  
  padding: 5px;
  margin: 5px; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s; 
    font-size: 30px;  
}
.homepagebtn a { 
color: #14ccb4;
text-decoration: none;
}
.homepagebtn:hover {
   background-color:rgb(43, 166, 224);
   color: #000000;
   transform: scale(1.5);
 }
.homepagebtn:hover a:active {
   background-color: rgb(8, 6, 6);
   color: white; 
    box-shadow: 10px 4px 10px rgb(7, 101, 120);
} 

.app{ 
  background:#00000000;
  position: relative;
width: 100%;
height: 100%;
margin: 2px; 
padding-top:50px;
border-radius: 10px;
  box-shadow: 10px 4px 10px #00FFFF; 
overflow: hidden;
}

h1{
font-size: 45px;
width: 100%;
color: #ffffff;
position: relative;
}

.quiz { 
margin: 0 2rem; 

}
h2{ 
font-size: 40px;
color: #ffffff;
font-weight: 400;
}

.btn { 
  background: #fbf9f9;
  color: #000000;
  font-weight: 500;
  width: 100%;
 box-shadow: 10px 4px 10px #00FFFF;  
  padding: 5px;
  margin: 5px; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s; 
    font-size: 50px;
    }
     .btn:hover:not([disabled]){
        background: #000000;
        color: rgb(255, 255, 255);
        }
        .btn:disabled{ 
cursor: no-drop;
        }

        #next-btn{ 
            background: #ffffff;
            color: #1b90b0 ;
            font-weight: 500;
            width: 100%;
            border: 0;
            padding: 10px;
            margin: 20px auto 0;
             border-radius: 2px;
             cursor: pointer;
            display:none; 
            box-shadow: 10px 4px 10px #00FFFF;  
          font-size: 65px;     
          }

  .correct { 
background: green;
 }

  .incorrect { 
background: red;

  }
  .backgroundAnim1{ 
      position: absolute;
      top: 75%;
      left: 0;
      width: 100%;
      height: 10px; 
       border-radius:10%;
      background: #468f9542;
      filter: blur(0.5px);
      animation: backgroundAnim 5s ease-in-out infinite ;
     }


@keyframes backgroundAnim {
   0% {     
      opacity: 0;
      transform: scale(1);
      bottom: 15px;
      width: 100%;
   }
   100% { 
       opacity: 1;
      transform: scale(5);
    top: 10px;
     width:5%; 

   } }


@media screen and (min-width:400px) {
.body{ 
position:absolute; }
  .container
  { position: relative;
}

.app{
position:inherit;
}
.quiz { 
  position:inherit;
}
 }