* { margin: 0; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body
{ background:rgba(0, 0, 0, 0.886);
  display: grid;
  place-items:center;
  justify-content:center;

}

.container{
  height:calc(100% - 2px);
  width:calc(100% - 20px);
  background: #000000e7;
  padding:50px;
  margin: auto;
 }
.homepagebtn{
 background: #fbf9f92a;
 color: #000000;
  font-size: 40px;  
 font-weight: 500;
 width: calc(100% - 65px);
 box-shadow: 10px 4px 10px #ffffff;  
 margin: 10px; 
 text-align: center;
 border-radius: 5px;
 cursor: pointer;
 transition: all 0.3s; 
  }
.homepagebtn a { 
 color: #ffffff;
text-decoration: none;
}
.homepagebtn:hover {
   background-color:rgb(0, 0, 0);
   color: #ffffff;
   transform: scale(1.5);
   box-shadow: 10px 5px 10px #00FFFF;  
 }
.homepagebtn:hover a:active {
   background-color: #000000;
   color: rgb(255, 255, 255); 
    box-shadow: 10px 4px 10px rgb(0, 0, 0);
} 

.quiz-container{ 
 background:#00000000;
  position: relative;
width:calc(100% - 55px);
height: calc(100% - 5px);
margin-left: 2%; 
border-radius: 10px;
overflow: hidden;
 box-shadow: 10px 5px 10px #ffffff;  
}

.quiz-container h1{
font-size: 45px;
width: calc(100% - 5px);
color: #ffffff;
position: relative;
text-align: center;
}

.quiz{ 
margin: 5px; 
width: calc(100% - 5px);
}
h2{ 
font-size: 40px;
color: #ffffff;
font-weight: 400;
}

.button { 
  background: #fbf9f9;
  color: #000000;
  font-size: 50px;
  font-weight: 500;
  cursor: pointer;
  width: calc(100% - 25px);
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s; 
    
    }
     .button:hover:not([disabled]){
        background: #464646;
        color: rgb(255, 255, 255);
      transform: scale(1.25);
      }
        .button:disabled{ 
cursor: no-drop;
        }

        #next-btn{ 
            background: #ffffff;
            color: #1b90b0 ;
            font-weight: 500;
            width: calc(100% - 15px);
            border: 0;
            padding: 10px;
            margin: 20px auto 0;
             border-radius: 2px;
             cursor: pointer;
            display:none; 
            box-shadow: 10px 4px 10px #00FFFF;  
          font-size: 65px;     
          }

  .correct { 
background: green;
 }

  .incorrect { 
background: red;

  }

.backgroundAnim1{ 
position: absolute;
top:calc(100% - 1px);
right: 0;
width:20px;
height: 20px;
font-size: 15px; 
border-radius: 10%;
background: #ffffff3e;
filter: blur(2px);
animation: backgroundAnim 7s ease-in-out infinite alternate-reverse ;
    }

@keyframes backgroundAnim {
0% {     
    opacity: 0;
    transform: scale(1);
    bottom: 15px;
    width: 75%;
}
100% { 
    opacity: 1;
    transform: scale(5);
    top: 10px;
    width:2%; 
} }


@media screen and (min-width:400px) {
.body{ 
position:absolute; }
  .container
  { position: relative;
}

.app{
position:inherit;
}
.quiz { 
  position:inherit;
}
 }